<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Weather App</title>
</head>
<body>
    <div class="container">
        <h1>Weather App</h1>
        <form action="/weather" method="get">
            <input type="text" name="city" placeholder="Enter name of your city">
            <button type="submit">Get weather</button>
        </form>
        <% if (error) { %>
            <p class="error"><%= error%></p>
        <% } else if (weather) { %>
            <div class="card">

            </div>
        <% } %>
    </div>
</body>
</html>